@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Bayron Ezequiel Arias Esteban<br />
        Carné: 0907-21-13575<br />

    </address>

</main>