@{
    ViewBag.Title = "Home Page";
}

<main>

    <h1>Aplicación de Conceptos</h1>


    <p>
        Tarea: Implementar un programa en C# que demuestre una aplicación práctica de los conceptos de concurrencia, distribución de componentes y separación interfaz e implementación.

        <br />
        <br />
        En esta tarea, se tiene como objetivo desarrollar un programa en lenguaje C# que ejemplifique cómo los conceptos de concurrencia, distribución de componentes y separación interfaz e implementación pueden ser integrados para crear una aplicación eficiente y modular.

        <br />
        <br />

        El programa a implementar consistirá en una aplicación de gestión de tareas, donde los usuarios podrán agregar, modificar y eliminar tareas, así como visualizar una lista de tareas pendientes y completadas.

        <br />
        <br />
        Para demostrar el concepto de concurrencia, se utilizarán hilos (threads) para realizar operaciones de lectura y escritura en la lista de tareas de manera simultánea. Esto mejorará el rendimiento de la aplicación, permitiendo que múltiples usuarios puedan interactuar con la lista de tareas al mismo tiempo.

        <br />
        <br />
        La distribución de componentes se aplicará dividiendo la aplicación en módulos funcionales, como el módulo de gestión de tareas, el módulo de interfaz gráfica y el módulo de almacenamiento de datos. Cada uno de estos componentes se comunicará de manera eficiente para lograr una gestión completa y coherente de las tareas.

        <br />
        <br />
        Para mantener la separación interfaz e implementación, se utilizarán interfaces que definan los contratos para los distintos componentes. Por ejemplo, habrá una interfaz para el gestor de tareas, lo que permitirá cambiar la implementación subyacente sin afectar la interfaz del usuario.
        
        <br />
        <br />
        Usa un programa en consola C# o el lenguaje a tu elección
    </p>

</main>